#lefty
  %p Eric and Paul Efstathiou, Owners and Directors of PTE Fine Arts, are second generation Art Dealers.
  %p Their father, Takis Efstathiou, has been in the art business for over 40 years. In 1973 Takis was the Director of the Tchernov Gallery in New York City and in 1977 opened the Ericson Gallery on 74th Street and Madison Ave. Ericson Gallery exhibited many artists such as Rudolf Bauer, William Baziotes, Hilla Rebay, Theodoros Stamos and Jacques Villion.
  %p In 1986, Takis started dealing privately under the name PTE Fine Arts, and in 2001, Eric and Paul joined their father's business. Today, Eric and Paul, run this dynamic international business from their location in New York. They are just blocks from the Metropolitan Museum of Art and The Guggenheim Museum on 86th Street between Madison and Fifth Avenue.
#righty
  %p PTE Fine Arts works closely with individual collectors, galleries, art dealers, and museums to find important works of art for both private and public collections. They are responsible for the placement of many art works in international museums as well as major personal collections.
  %p Eric and Paul have successfully combined their passion for art and their sound business sense with respect for the needs and desires of their clients. PTE Fine Arts enjoys a stellar reputation for integrity and knowledge founded on hard work and dedication.
  %p PTE Fine Arts inventory includes contemporary works in all medias including paintings, sculptures, photography and prints.
