%p PTE Fine Arts
%address
  12 East 86th Street Suite 609
  %br
  New York, New York 10028
  %br
  Tel. 212.772.9158
  %br
  Fax. 212.772.2325
= link_to 'email: info@ptefinearts.com', 'mailto:info@ptefinearts.com'
%p
  Eric Efstathiou
  %br
  = link_to 'eric@ptefinearts.com', 'mailto:eric@ptefinearts.com'
%p
  Paul Efstathiou
  %br
  = link_to 'paul@ptefinearts.com', 'mailto:paul@ptefinearts.com'
%p
  Site Designed &amp; Developed by:
  %br
  William Buchina &amp; David Ko
